body {
    font-family: monospace;
    width: 32rem;
    margin: 2rem auto;
    color: white;
    background-color: black;
}

a {
    color: gray;
}


::selection, -moz-selection{
    color: black;
    background-color: white;
}