body {
    font-family: monospace;
    width: 32rem;
    margin: 2rem auto;
    color: white;
    background-color: black;
}

a {
    color: gray;
}

table {
    border: 1px solid white;
}

th, td {
    padding: 0.5rem;
}

::selection, -moz-selection{
    color: black;
    background-color: white;
}