
body {
    font-family: Helvetica, sans-serif;
    margin: 1rem;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: row;
    flex-wrap: wrap;
}

table {
    flex-shrink: 1;
    border: none;
    border-collapse: collapse;
}

td {
    padding: 2rem;
    font-style: italic;
}

td + td {
    font-style: normal;
}

tr + tr {
    border-top: 1px solid gray;
}

span {
    color: gray;
}

.display-image {
    overflow: hidden;
    flex-shrink: 3;
    margin: 2rem;
    object-fit: cover;
}

a > img {
    width: 1.7rem;
    height: 1.7rem;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: gray;
    text-decoration: line-through;
}

::selection, -moz-selection{
    color: black;
    background-color: white;
}