:root {
    --primary: #fffff5;
    --secondary: #000000;
    --accent: #beb7a4;
}

@font-face {
    font-family: Font;
    src: url(Editorial%New%Regular%400.otf);
}
  

h1 {
    color: var(--accent);
    margin: 0;
}

h2 {
    font-style: italic;
}

body {
    font-family: 'Font';
    font-size: 1.5rem;
    width: 32rem;
    margin: 5rem;
    line-height: 200%;
    color: var(--primary);
    background-color: var(--secondary);
    padding: 1rem;
}

::selection, -moz-selection{
    color: var(--secondary);
    background-color: var(--primary);
}

a {
    color: var(--primary);
    text-decoration: none;
    padding: 1rem;
}

a:hover {
    color: var(--secondary);
    background-color: var(--primary);
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border: 1rem;
}
