:root {
    --primary: #fffff5;
    --secondary: #000000;
    --accent: #CD5D67;
}

@font-face {
    font-family: Font;
    src: url(Editorial%New%Regular%400.otf);
}

body {
    font-family: 'Font';
    font-size: 1.4rem;
    margin: 5rem;
    color: var(--primary);
    background-color: var(--secondary);
}

li {
    line-height: 2;

}

h1 {
    margin: 0;
    color: var(--accent)
}

h2 {
    font-style: italic;
}


a {
    color: var(--primary);
    text-decoration: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0;
    transition: padding 0.25s ease;
}

a:hover:not(:has(img)) {
    color: var(--secondary);
    background-color: var(--primary);
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 1rem;
    transition: padding 0.5s ease;
}

img {
    width: 2rem;
    height: 2rem;
}

::selection, -moz-selection{
    color: var(--secondary);
    background-color: var(--primary);
}